<h1>Please Login into a farmer profile before adding a product</h1>

<p class="text-center mt-4">
    Sign into farmer here? <a asp-controller="Home" asp-action="Farmerlogin" class=" text-decoration-none">Login</a>
</p>